<template>
  <div class="text-white">
    <div class="container">
      <div class="row my-5">
        <div class="col-col-sm-12 col-md-6 mx-auto">
          <div class="bg-dark py-2 shadow-md">
            <div class="px-2">
              <a href="/" class="btn btn-sm btn-outline-info rounded-0">Go Back</a>
              <small class="font-weight-bold float-right">To be Completed On: {{task.dueDate}}</small>
            </div>
            <div class="bg-warning px-2 py-1 text-dark mt-2">
              <p class="task-title">{{task.title}}</p>
            </div>
            <div class="bg-secondary px-2 py-1 text-dark">
              <p>{{task.description}}</p>
            </div>
            <div class="my-3 px-2">
              <button class="btn btn-outline-secondary btn-sm rounded-pill">Mark Complete</button>
              <button class="btn btn-outline-secondary btn-sm rounded-pill float-right">Edit Task</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      taskId: this.$route.params.id,
      task: Object
    };
  },
  mounted () {
    axios.get(`https://taskify-api.herokuapp.com/task/${this.taskId}`)
    .then(response => this.task = response.data)
    .catch(err => console.log(err))
  }
};
</script>

<style scoped>
  p {
    margin: 0;
  }
</style>