<template>
  <div>
    <div class="card p-4 bg-dark text-white shadow-0 rounded-0">
      <form @submit="addTask">
        <div class="form-group">
          <label for="taskTitle">Task Title</label>
          <input
            v-model="form.title"
            type="text"
            placeholder="Enter task title"
            class="form-control rounded-0 form-control-sm"
          />
        </div>
        <div class="form-group">
          <label for="taskDescription">Task Description</label>
          <textarea
            v-model="form.description"
            type="text"
            placeholder="Enter task description"
            class="form-control rounded-0 form-control-sm"
            ></textarea>
        </div>
        <div class="form-group">
          <label for="taskCompletionDate">Task Completion Date</label>
          <input
            v-model="form.dueDate"
            type="text"
            placeholder="dd/mm/yy"
            class="form-control rounded-0 form-control-sm"
          />
        </div>
        <input type="submit" value="Add Task" class="btn btn-outline-warning btn-sm rounded-pill" />
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddTaskForm",
  data() {
    return {
      form: {
        title: "",
        description: "",
        dueDate: ""
      }
    };
  },
  methods: {
    addTask(e) {
      e.preventDefault();
      this.$emit("addTask", this.form);
    }
  }
};
</script>
