<template>
  <div>
    <Header />
    <div class="container">
      <div class="row mt-5">
        <div class="col-sm-12 col-md-6">
          <AddTaskForm @addTask="addTask" />
        </div>

        <div class="col-sm-12 col-md-6">
          <div class="card p-4 bg-dark text-white shadow-0 rounded-0">
            <div class="card-g">
              <h4>All Tasks</h4>
            </div>
            <hr class="bg-white" />
            <ul v-for="item in task" :key="item._id" class="list-group mb-4 text-dark">
              <li class="list-group-item rounded-0" @click="editTask(item._id)">{{item.title}}</li>
              <button class="btn btn-sm btn-block btn-danger" @click="deleteTask(item._id)">Delete</button>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AddTaskForm from "@/components/AddTaskForm";

export default {
  components: {
    AddTaskForm
  },
  data() {
    return {
      task: Array
    };
  },
  beforeCreate() {
    axios
      .get("https://taskify-api.herokuapp.com/task")
      .then(response => {
        this.task = response.data;
      })
      .catch(error => {
        this.task = error;
      });
  },
  methods: {
    async addTask(data) {
      await axios.post("https://taskify-api.herokuapp.com/task/add-task", data);
      await this.getTask();
      // await this.emptyFields();
    },
    async getTask() {
      try {
        const response = await axios.get("https://taskify-api.herokuapp.com/task");
        this.task = await response.data;
      } catch (error) {
        this.task = await error;
      }
    },
    editTask(id) {
      this.$router.push(`/task/${id}`);
    },
    async deleteTask(id) {
      const confirmDelete = confirm(
        "Are you sure you want to delete this taks?"
      );
      if (confirmDelete == true) {
        await axios.delete(`https://taskify-api.herokuapp.com/task/${id}`);
        await this.getTask();
      }
    }
  }
};
</script>

